@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
}

h3 {
    margin-bottom: 15px;
    font-family: "Nunito", "Arial", sans-serif;
}

