<!DOCTYPE html>
<html ng-app="AngularCarsApp" lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/app.js"></script>

    <title>Екзаменаційна робота</title>
</head>
<body>

<div ng-controller="CarsListController as carsList">
    <h3>Каталог автомобілів</h3>

    <ol>
        <li ng-repeat="car in carsList.carsList" ng-hide="hideIndex === $index" >
            наявно {{car.quantity}} автомобілів марки "{{car.mark}}"
            <button ng-click="hideIndex = $index">Приховати</button>
            <button ng-click="carsList.deleteCarFromList($index);">Видалити</button>
        </li>
    </ol>

</div>

</body>
</html>